<!DOCTYPE html>
{% load static %}
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Title of the page -->
        <title> {% block title%} {%endblock%} - Torneos de Yu-Gi-Oh!</title>
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">  

        <link rel="stylesheet" href="{% static 'css/style-page.css' %}">

        <!-- Block to put other CSS files on child template-->
        {% block css %}
        {% endblock %}

        <!-- Block to put other JS files on child template-->
        {% block js %}
        {% endblock %}
    </head>
    <body class="bg-yugioh-bg">
        
        <div class="container">
            <div class="row ">
                <div class="col-md-1 "></div>
                <div class="col-md-10 ">
                    {% block content %}
                    
                    {% endblock %}
                </div>
                <div class="col-md-1 "></div>
            </div>
        </div>

        <script src="{% static 'js/jquery.min.js' %}"></script>
  	    <script src="{% static 'js/popper.js' %}"></script>
  	    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  	    <script src="{% static 'js/main.js' %}"></script>
        {% block finalJS %}
        {% endblock %}
    </body>
</html>