<div class="bg-yugioh">
<header class="ftco-section">
	<div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
                <div class="container-fluid">
                    <h3><a href="{% url 'index' %}">Sitio Oficial de Yu-Gi-Oh!</a></h3>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item active" id="index" >                    
                                <a class="nav-link" href="{% url 'index'%}">Inicio</a>
                            </li>
                            <li class="nav-item" id="torneo" >
                                <a class="nav-link" href="{% url 'torneos' %}">Torneos</a>
                            </li>
                            <li class="nav-item" id="arquetipos" >
                                <a class="nav-link" href="{% url 'arquetipos' %}">Arquetipos</a>
                            </li>
                            <li class="nav-item" id="consultas" >
                                <a class="nav-link" href="{% url 'consultas' %}">Consultas</a>
                            </li>

                            {% if perms.torneos.add_admintorneos %}
                                <li class="nav-item" id="admint" >
                                    <a class="nav-link" href="{% url 'registrar_admin_torneos' %}">+ Admin de Torneos</a>
                                </li>
                            {% endif %}

                            {% if user.is_authenticated %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'decks' %}">Mi perfil</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'logout' %}">Cerrar sesión</a>               
                                </li>
                            {% else %}
                                <li class="nav-item border bg-yugioh border-dark border-60">
                                    <a class="nav-link  text-white" href="{% url 'login' %}">Ingresar</a>
                                </li>
                                <li class="nav-item border bg-yugioh border-dark border-60 last" >
                                    <a class="nav-link text-white" href="{% url 'registrar_usuario' %}">Crear cuenta</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
		
    <!-- END nav -->
    </div>
</header>
</div>