<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-yugioh">
        <a class="a-with-decor" href="#"><h1 class="navbar-brand">Organización Mundial de Yu-Gi-Oh!</h1></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-toogle" aria-controls="navbar-toogle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-toogle">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Torneos <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Decks y arquetipos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Consultas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Iniciar sesión</a>
                </li>
            </ul>
        </div>
    </nav>
</header>