<!DOCTYPE html>
{% load static %}
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Title of the page -->
        <title> {% block title%} {%endblock%} - Torneos de Yu-Gi-Oh!</title>

        <meta name="description" content="Sitio oficial para la organización y promoción de torneos de Yu-Gi-Oh!">
        <meta name="keywords" content="Yu-Gi-Oh!, yugioh, torneo, jugador, deck, arquetipo, partida">

        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">  

	    <link rel="stylesheet" href="{% static 'css/style-page.css' %}">

        <!-- Block to put other CSS files on child template-->
        {% block css %}
        {% endblock %}

        <!-- Block to put other JS files on child template-->
        {% block js %}
        {% endblock %}

    </head>
    <body>
        <!-- * Header of a page * -->
        {% include '_header.html' %}

        <!-- * Main content * -->
        {% block content %}
        {% endblock %}

        <!-- * Footer of a page * -->
        {% include '_footer.html' %}

        <script src="{% static 'js/jquery.min.js' %}"></script>
  	    <script src="{% static 'js/popper.js' %}"></script>
  	    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  	    <script src="{% static 'js/main.js' %}"></script>
        {% block finalJS %}
        {% endblock %}
    </body>
</html>