<!-- This template of the HomePage is a child of MainTemplate -->
{% extends "_main_template.html" %}

<!-- Load static files -->
{% load static %}

<!-- Put title -->
{%block title%}
Mi Perfil
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.min.css' %}">
{% endblock %}

{% block beforeHeader %}
    <div class="overlay"></div>
{% endblock %}

<!-- Put content -->
{% block content %}
<section class="ftco-section mb-3 mt-3">
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar" class="text-white">
            <div id="dismiss">
                <i class="fa fa-arrow-left"></i>
            </div>

            <div class="sidebar-header">
                <h3 class="text-white">Mis Decks</h3>
            </div>

            <ul class="list-unstyled CTAs">
                <li>
                    <a href="{% url 'torneos_inscrito' %}" class="btn btn-primary rounded font-weight-bold"><i class="fa fa-trophy"></i> Torneos Inscritos</a>
                </li>
                <li>
                    <a href="{% url 'editar_info' %}" class="btn btn-primary rounded font-weight-bold"><i class="fa fa-pencil mr-1"></i> Info. Personal</a>
                </li>
                <li>
                    <a href="{% url 'crear_deck' %}" class="btn btn-primary rounded font-weight-bold"><i class="fa fa-plus mr-1"></i> Crear Deck</a>
                </li>
            </ul>
        </nav>
        
    </div>
    <div class="container">
        <div class="row">
            <div class="col d-flex justify-content-between">
                <button type="button" id="sidebarCollapse" class="btn btn-primary rounded mb-3">
                    <i class="fa fa-align-left"></i>
                    <span>Menú</span>
                </button>
                <div class="text-black mr-3 mt-2 d-flex">
                    <p class="ml-5 mr-3">Nombre de usuario</p><span class=" font-weight-bold">{{user}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <h4>Mis Decks</h4>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table table-striped table-responsive">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>No. de cartas mazo principal</th>
                            <th>No. de cartas mazo alternativo</th>
                            <th>No. de cartas mazo extra</th>
                            <th>Arquetipo principal</th>
                            <th>Arquetipo adicional</th>
                            <th>Opción</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for deck in decks %}
                        <tr>
                            <td>{{deck.nombred}}</td>
                            <td>{{deck.cantidad_cartas_mazo}}</td>
                            <td>{{deck.cantidad_cartas_mazo_alternativo}}</td>
                            <td>{{deck.cantidad_cartas_mazo_extra}}</td>
                            <td>{{deck.ida_principal.nombrea}}</td>
                            <td>{{deck.ida_adicional.nombrea}}</td>
                            <td class="d-flex justify-content-between">
                                {% if perms.decks.change_deck %}
                                    <a class="btn btn-primary circle-btn" href="{% url 'editar_deck' deck.idd %}"><i class="fa fa-pencil"></i></a>
                                {% endif %}
                                {% if perms.decks.delete_deck %}
                                    <a class="btn btn-primary circle-btn" href="{% url 'eliminar_deck' deck.idd %}"><i class="fa fa-trash"></i></a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</section>

{% endblock %}

{% block finalJS %}
    <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#sidebar").mCustomScrollbar({
                theme: "minimal"
            });

            $('#dismiss, .overlay').on('click', function () {
                $('#sidebar').removeClass('active');
                $('.overlay').removeClass('active');
            });

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').addClass('active');
                $('.overlay').addClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });
            
            $(".nav-item").removeClass("active");
            $("#perfil").addClass("active");
        });
    </script>
{% endblock %}
