<!-- This template of the HomePage is a child of MainTemplate -->
{% extends "_main_template.html" %}

<!-- Load static files -->
{% load static %}

<!-- Put title -->
{%block title%}
Inicio
{% endblock %}

<!-- Put content -->
{% block content %}
    <div class="text-center bg-yugioh main-img">
        <img class="img-responsive w-90 maxw-90" src="{% static 'img/yugioh_imagen.png' %}">
    </div>
    <section class="container mb-3 mt-3">
        <article class="row">
            <div class="col-12">
                <h1 class="text-center">Historia de los torneos de Yu-Gi-Oh!</h1>
                <p>Yu-Gi-Oh! es un juego de cartas coleccionables de origen japonés basado en el juego ficticio de Duelo de Monstruos.</p>
                <p>El juego de cartas ha alcanzado tal popularidad que se planifican eventos internacionales en los que jugadores de cualquier edad y nivel pueden competir juntos en torneos y hacer amigos nuevos, ver cartas nuevas y alardear de nuevas estrategias. Hay eventos de Yu-Gi-Oh! para cualquier clase de Duelista, desde pequeños torneos hasta eventos masivos internacionales donde los mejores Duelistas del mundo juegan para conseguir grandes premios.</p>
                <p>Yu-Gi-Oh! es un juego de cartas de batalla en el que cada jugador toma cartas de sus respectivos Decks y toman turnos en los que se juegan las cartas en el campo de juego.</p>
                <p>Los jugadores se inscriben en los torneos que estén interesados.</p>
                <p>Una partida de Yu-Gi-Oh! se lleva a cabo entre dos jugadores, cada uno de los cuales usa un Deck (mazo de cartas) que utilizará para intentar derrotar a su adversario.</p>
                <p>Un arquetipo es la estructura del Deck, las cartas de un mismo arquetipo comparten el inicio de sus nombres y si un Deck tiene más del 50 % de cartas de un mismo arquetipo X entonces se dice que es de arquetipo X, sino se dice que es Mixto y es un arquetipo adicional. Hay una gran variedad de arquetipos, y la mayoría tiene un estilo de juego distinto.</p>
            </div>
        </article>
        <div class="row">
            <div class="col-6">
                {% if torneos_no_iniciados %}
                <h4 class="text-center"> Torneos abiertos a inscripción </h4>
                {% for torneo in torneos_no_iniciados %}
                    <div class="torneo d-inline-flex w-100 justify-content-between">
                        <a class="torneo-name" href="#">{{torneo.nombret}}</a>
                        <p class="torneo-dir">{{torneo.fecha_hora_de_iniciot}}</p>
                    </div>
                {% endfor %}
                {% endif %}
            </div>
            <div class="col-6">
                <h4 class="text-center"> Top 10 de campeones </h4>
                
            </div>
        </div>
    </section>

{% endblock %}