{% extends "_auth_template.html" %}

{% block title %}
Registrar Jugador
{% endblock %}

{% block content %}
    <div class="card  mt-4 text-white bg-yugioh border border-light border-60">
        <div class="card-header">
            <h1 class="card-title">Registro Admin de Torneo</h1>
        </div>
        <div class="card-body">
            <form method="post">  {% csrf_token %}
                {{form.as_p}}
                <div class="text-right">
                    <button class="btn btn-primary" type="submit">Registrar</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
