<!-- This template of the HomePage is a child of MainTemplate -->
{% extends "_main_template.html" %}

<!-- Load static files -->
{% load static %}

<!-- Put title -->
{%block title%}
Torneos Ronda
{% endblock %}

<!-- Put content -->
{% block content %}
<section class="ftco-section">
    <div class="wrapper">
        <!-- Page Content  -->
        <div id="container">

            <div class="text-center">
                <h3>Ronda {{idr}}, Torneo {{torneo.nombret}}</h3>
            </div>
            <div class="text-center">
                <h4>Participantes</h4>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Nombre de usuario</th>
                                    <th>Nombre y apellidos</th>
                                    <th>Deck utilizado</th>
                                    <th>Supera la ronda</th>
                                    {% if perms.eventos.change_participa%}
                                        <th>Editar si supera la ronda</th>
                                    {% endif %}
                                    {% if perms.eventos.delete_participa%}
                                        <th>Eliminar participacion</th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for participante,clave in participantes_claves %}
                                <tr>
                                    <td>{{participante.participante.idj.idj}}</td>
                                    <td>{{participante.participante.idj.nombrej}}</td>
                                    <td>{{participante.participante.idd.nombred}}</td>
                                    <td>{{participante.triunfa}}</td>
                                    {% if perms.eventos.change_participa %}                    
                                        <td>
                                            <a class="btn btn-primary" href="{% url 'editar_participacion' clave %}">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                        </td>
                                    {% endif %}
                                    {% if perms.eventos.delete_participa%}
                                        <td><a class="btn btn-primary" href="{% url 'eliminar_participacion' clave %}"><i class="fa fa-trash"></i></a></td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="text-center mt-5">
                <h4>Partidas</h4>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Jugador1</th>
                                    <th>Resultado</th>
                                    <th>Jugador2</th>
                                    <th>Fecha y hora de inicio</th>
                                    <th>Fecha y hora de finalización</th>
                                    {% if perms.eventos.change_partida%}
                                        <th>Opción</th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for partida,clave in partidas_claves %}
                                <tr>
                                    <td>{{partida.idj1}}</td>
                                    <td>{{partida.resultado}}</td>
                                    <td>{{partida.idj2}}</td>
                                    <td>{{partida.fecha_hora_de_iniciop}}</td>
                                    <td>{{partida.fecha_hora_de_finalizacionp}}</td>
                                    {% if perms.eventos.change_partida %}
                                    <td>
                                        <a class="btn btn-primary" href="{% url 'editar_partida' clave %}"><i class="fa fa-pencil"></i></a>
                                        <a class="btn btn-primary" href="{% url 'eliminar_partida' clave %}"><i class="fa fa-trash"></i></a>
                                    </td>                    
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
    
        {% if perms.eventos.add_partida %}
            <div class="col-md-12 text-center mt-5">
                <a class="btn btn-primary" href="{% url 'crear_partida' torneo_ronda %}">Agregar partida</a>
            </div>
        {% endif %}
    </div>
</section>
{% endblock %}

{% block finalJS %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#sidebar").mCustomScrollbar({
                theme: "minimal"
            });

            $('#dismiss, .overlay').on('click', function () {
                $('#sidebar').removeClass('active');
                $('.overlay').removeClass('active');
            });

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').addClass('active');
                $('.overlay').addClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });
        });
    </script>
{% endblock %}