<div class="content">
  <h4 class="mb-5">Rondas</h4>
  <div class="container">
    <div class = "d-flex justify-content-center">
      <div style="width:575px;">
        <div class="table-responsive custom-table-responsive" >

          <table class="table custom-table" style="width:550;">
            <div class = "d-flex justify-content-center">
              <thead></thead>
              <tbody>
                {% for ronda,clave in rondas_claves %}
                  <tr scope="row">
                    <td>
                      <div class="text-center">
                        <a href="{% url 'ronda' clave %}"><h5>Ronda {{ronda.idr}}</h5></a>
                      </div>
                    </td>
                  </tr>
                  <tr class="spacer">
                    <td colspan="100"></td>
                  </tr>   
                {% endfor %}     
              </tbody>
            </div>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>