<!-- This template of the HomePage is a child of MainTemplate -->
{% extends "_main_template.html" %}

<!-- Load static files -->
{% load static %}

<!-- Put title -->
{%block title%}
Torneos
{% endblock %}

<!-- Put content -->
{% block content %}
<section class="ftco-section mb-3 mt-3">
    <div class="text-center">
        <h4>Torneos iniciados</h4>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            {% if perms.torneos.add_admintorneos %}
                                <th>ID</th>
                            {% endif %}
                                <th>Nombre</th>
                                <th>Dirección</th>
                                <th>Fecha y Hora de Inicio</th>
                                <th>Opción</th>
                        </tr>
                    </thead>
                    </tbody>
                        {% for torneo in torneos_iniciados %}
                            <tr>
                                {% if perms.torneos.add_admintorneos %}
                                    <td>{{torneo.idt}}</td>
                                {% endif %}
                                    <td>{{torneo.nombret}}</td>
                                    <td>{{torneo.direcciont}}</td>
                                    <td>{{torneo.fecha_hora_de_iniciot}}</td>
                                    <td>
                                        <a class="btn btn-primary" href="{% url 'torneo' torneo.idt %}">Ver</a>
                                        {% if perms.torneos.add_admintorneos %}
                                            <a class="btn btn-primary" href="{% url 'editar_torneo' torneo.idt %}">Editar</a> 
                                            <a class="btn btn-primary" href="{% url 'eliminar_torneo' torneo.idt %}">Eliminar</a>
                                        {% endif %}
                                    </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br> <br>
    <div class="text-center">
        <h4>Torneos no iniciados</h4>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            {% if perms.torneos.add_admintorneos %}
                                <th>ID</th>
                            {% endif %}
                                <th>Nombre</th>
                                <th>Dirección</th>
                                <th>Fecha y Hora de Inicio</th>
                                <th>Opción</th>
                        </tr>
                    </thead>
                    </tbody>
                        {% for torneo in torneos_no_iniciados %}
                        <tr>
                            {% if perms.torneos.add_admintorneos %}
                                <td>{{torneo.idt}}</td>
                            {% endif %}
                                <td>{{torneo.nombret}}</td>
                                <td>{{torneo.direcciont}}</td>
                                <td>{{torneo.fecha_hora_de_iniciot}}</td>
                                <td>
                                    <a class="btn btn-primary" href="{% url 'torneo' torneo.idt %}">Ver</a>
                                    {% if perms.torneos.add_admintorneos %}
                                        <a class="btn btn-primary" href="{% url 'editar_torneo' torneo.idt %}">Editar</a> 
                                        <a  class="btn btn-primary" href="{% url 'eliminar_torneo' torneo.idt %}">Eliminar</a>
                                    {% endif %}
                                    {% if perms.users.change_jugador %}
                                        <a class="btn btn-primary" href="{% url 'inscripcion' torneo.idt %}">Inscribirse o cambiar deck</a>
                                    {% endif %}
                                </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% if perms.torneos.add_admintorneos %}
            <br> <br>
            <div class="col-md-12 text-center">
                <a class="btn btn-primary" href="{% url 'crear_torneo' %}">Crear Torneo</a>
            </div>
        {% endif %}
    </div>
</section>
{% endblock %}


